@import url('variables.css');

@import url('reset.css');

@import url('layout.css');

@import url('navigation.css');

@import url('components.css');

@import url('course.css');

@import url('plan.css');

@import url('animations.css');

@import url('utilities.css');

@import url('responsive.css');
